$background-color: green;

body {
    margin: 0px;
    background-color:yellowgreen;
}

div{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 50px;
    margin: 0px;
    color: yellowgreen;
    background-color: $background-color;
    justify-content: center;
    align-items: center;
}

img {
    width: 250px;
    margin-top: 5rem;
    justify-items: center;
}

